<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <% if(hasErrors) { %>
        <div class="error_box">
            <p><%= message %></p>
        </div>
        <% } %>
    <form action="/auth/postLogin" method="post" class="form">
        <div class="main">
            <div class="form-control">
                <label for="email">Email:</label>
                <input type="email" name="email"
                value="<% if(hasErrors) { %> <%= oldInputs.email %> <% } %>">
                
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            
        </div>
        <button type="submit" class="btn">
            Login
        </button>
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden>
    </form>
    <div class="btn forgot" type="submit">
        <a href="/auth/resetPassword">Forgot Password</a>
    </div>
</body>
</html>