<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
    <%-include('../includes/navigation.ejs')%>
    <% if(hasErrors) { %>
        <div class="error_box">
            <p><%= hasErrors.msg %></p>
        </div>
        <% } %>
    <form action="/auth/postNewPassword" method="post" class="form">
        <div class="main">
            <div class="form-control">
                <label for="email">New Password:</label>
                <input type="password" name="password">
            </div>
            <div class="form-control">
                <label for="email">Confirm Password:</label>
                <input type="password" name="confirmPassword">
            </div>
        </div>
        <input type="text" name="userId" value="<%= userId %>" hidden>
        <input type="text" name="_csrf" value="<%= csrfToken %>" hidden>
        <button type="submit" class="btn">
            Update Password
        </button>
    </form>
</body>
</html>